mixin footer(data)
    -
        var footerLogo = (data && data.footerLogo) || "./assets/images/logo-white.png"
        var slogan = (data && data.slogan) || 'Kênh thông tin dự án, giao dịch bất động sản trên toàn quốc.'
        var footerAbout = (data && data.footerList) ||  [
            {title:'Hướng dẫn', link: '#link'},
            {title:'Tài liệu', link: '#link'},
            {title:'Chính sách', link: '#link'},
            {title:'Hỗ trợ', link: '#link'}
        ]
        var hotline = data && data.hotline || ['123 456 789', '123 456 798']
        var email = data && data.email || ['email@domail.com']
        var footerContact = [
            {title:'<i class="material-icons">phone_in_talk</i> ' + hotline[0], link: 'tell:'+hotline[0]},
            {title:'<i class="material-icons">phone_in_talk</i> ' + hotline[1], link: 'tell:'+hotline[1]},
            {title:'<i class="material-icons">mail_outline</i> ' + email[0], link: 'mailto:'+email[0]}
        ]
        var scriptEmbed = data && data.footerScriptEmbed || 'Liên kết mạng xã hội:'
    footer.footer
        .footer-main
            .container
                .row
                    .col-sm-4
                        div
                            a.title
                                img(src=footerLogo , alt=slogan, style="max-width: 175px;")
                        //- div
                            h3.title.divider-bottom Giới thiệu
                        br
                        div
                            p!=slogan
                    .col-sm-8
                            .row
                                div.col-sm-3
                                    //- div
                                        h3.title.divider-bottom Giới thiệu
                                    ul.list-group.list-group-flush
                                        each item in footerAbout
                                            li
                                                a(href=item.link)
                                                    //- i.material-icons.list-style fiber_manual_record
                                                    !=item.title
                                div.col-sm-3
                                    //- div
                                        h3.title.divider-bottom Giới thiệu
                                    ul.list-group.list-group-flush
                                        each item in footerAbout
                                            li
                                                a(href=item.link)
                                                    //- i.material-icons.list-style fiber_manual_record
                                                    !=item.title
                                div.col-sm-3
                                    //- div
                                        h3.title.divider-bottom Liên hệ
                                    ul.list-group.list-group-flush
                                        each item in footerContact
                                            li
                                                a(href=item.link)
                                                    !=item.title
                                div.col-sm-3
                                    //- div
                                        h3.title.divider-bottom Cộng đồng
                                    div
                                        p!=scriptEmbed
                                        +social-icon('face')
                                        +social-icon('google')
                                        +social-icon('twitter')
                                        +social-icon('youtube')
        .container
            .copyright &copy; Copyright 2019. TYGIA.VN - Website thông tin dự án, giao dịch bất động sản.